<IfModule mod_negotiation.c>
  Options -MultiViews
</IfModule>

DirectoryIndex index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /admin/starter-viteplus-vue-nuxtui/
  RewriteRule ^index\.php$ - [L]
  RewriteRule ^(api|assets)($|/) - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /admin/starter-viteplus-vue-nuxtui/index.php [L]
</IfModule>